/* Import des autres fichiers CSS */
@import "header.css";
@import "footer.css";
@import "accueil.css";
@import "prix.css";
@import "quiz.css";
@import "scoreboard.css";
@import "tournois.css";
@import "vote.css";
@import "utilisateur.css";
@import "connexion.css";
@import "settings.css";
@import "admin.css";

/* CSS utiliser dans plusieurs view */
body
{
    background: #262424;
    font-family: Arial, serif;
    margin: 0 auto;
    color: white;
}

.corps {
    padding-top: 100px;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.gauche,
.droite {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gauche > h2,
.gauche > p {
    width: 75%;
}

.titre
{
    text-align: center;
}

.carte-jeu {
    position: fixed;
    width: 40%;
    min-height: 80%;
    background: #3b3838;
    left: 30%;
    top: 8%;
    border-radius: 10px;
    padding: 10px;
    display: none;
    border: white 1px solid;
    text-align: center;
}

.image_jeu {
    width: 100%;
}

.close {
    cursor: pointer;
    color: red;
    background: none;
    border: none;
    font-size: 24px;
    text-align: center;
}

.carrousel {
    display: flex;
    justify-content: flex-start;
    overflow: auto;
}

.carrousel > img {
    width: 300px;
    padding: 10px;
}

input
{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 3px;
}

button[type=submit] {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

label {
    font-weight: 700;
}

.submitbtn
{
    float: right;
    background: #25C7D1;
    margin-top: 25px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

.submitbtn:hover
{
    background: #26a6b0;
}

form > h2
{
    text-align: center;
}

select
{
    height: 35px;
    width: 100%;
}

form
{
    width: 100%;
}

.plateformes
{
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.plateformes-div {
    width: 50%;
    margin-left: 25%;
}

.redirect {
    color: #0069d9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.redirect:hover {
    color: #007bff;
}

h4 {
    margin-bottom: -10px;
}


@media screen and (max-width: 950px) {
    .flex {
        display: block;
        margin: 0 50px 0 50px;
    }

    .gauche,
    .droite {
        width: 100%;
    }

    .droite {
        margin-top: 50px;
    }
}